<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ base :: layout(~{::title} , ~{::section}) }">
<head>
    <meta charset="UTF-8">
    <title>Add Department</title>
</head>
<body>
<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Add Department</div>
                    <th:block th:if="${session.message}">
                        <p class="text-center text-success fs-4">[[${session.message}]]</p>
                        <th:block th:text="${@departmentServiceImpl.removeSessionMessage()}"></th:block>
                    </th:block>
                    <div class="card-body">
                        <form th:action="@{/admin/departments}" method="post">
                            <div class="mb-3">
                                <label for="departmentName" class="form-label">Department Name</label>
                                <input type="text" class="form-control" name="name" id="departmentName" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Department</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>